numpy==1.26.0
python-dotenv
pytest
pydantic<2
urllib3<2
nomkl
pyobjc-framework-Cocoa

fastapi
uvicorn
uvicorn[standard]

sentence-transformers
torch
transformers
accelerate

haystack_ai

pinecone-haystack

langchain
langchain-community
gigachat