numpy==1.26.4
python-dotenv
pytest
pydantic<2
urllib3<2
nomkl

fastapi
uvicorn
uvicorn[standard]

sentence-transformers
torch
transformers
accelerate

haystack_ai
pinecone-haystack

langchain
langchain-community
gigachat

PyMuPDF==1.23.8
